# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
coverage-venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Django
*.log
staticfiles/
media/
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

